# DEVELOPMENT ENVIRONMENT
DEV_DIR="${HOME}/dev"
CONFIG_DIR="${DEV_DIR}/.conf"

# ADMIN INFO
ADMIN_EMAIL="username@email.com" # <-- THIS IS THE ONLY FIELD THAT MUST BE CHANGED
ADMIN_USER="admin"
ADMIN_PASS="password"

# Apache
AVAILABLE_SITES_DIR="${CONFIG_DIR}/sites-available"
ENABLED_SITES_DIR="/etc/apache2/sites-enabled"

# MariaDB
DB_DUMP_DIR="${CONFIG_DIR}/db" # The directory where database dumps are stored
DB_ROOT_PASS="root" # The root password for MariaDB
DB_USER="wordpress" # The user that will be used by WordPress
DB_PASS=${ADMIN_PASS} # The password for the user that will be used by WordPress

# LOCAL EMAIL SUPPORT (Optional)
# Enables local email sending by installing and activating the Simple SMTP Mailer plugin
# https://wordpress.org/plugins/simple-smtp-mailer
SMTP_USER=""
SMTP_PASS=""